body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1, h2 {
    color: #2c3e50;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    text-align: center;
}

input, button {
    margin: 5px 0;
    padding: 8px;
    width: 100%;
}

button {
    background-color: #2ecc71;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #27ae60;
}

ul {
    list-style-type: none;
}

ul li {
    margin: 10px 0;
}

.odendi {
    background-color: #e0ffe0; /* Açık yeşil */
}
